<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        </ul>
        <h1 class="sakila">Sakila</h1>
        <form action="/hae" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="text" class="form-control form-control-dark" placeholder="Hae..." aria-label="Hae" name="hae">
          <div class="text-end">
            <button type="submit" class="btn btn-outline-light me-2">Hae</button>
          </div>
        </form>
      </div>
    </div>
  </header>
  